/* ==================================================
全体の設定
====================================================*/
.container {
  width: 1000px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

body {
  color: #333;
  background-color: #f5f5f5;
}

svg {
  color: #666;
}

.blockFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

iframe {
  width: 500px !important;
}

.only_sp {
  display: none;
}
/* ==================================================
header
====================================================*/
.fixed-header {
  position: fixed;
  z-index: 1000;
}

header {
  position: fixed;
  height: 70px;
}

header h1 {
  float: left;
  height: 70px;
  line-height: 70px;
}

header img {
  float: left;
  width: 70px;
}

header nav {
  float: right;
}

header li {
  float: left;
}

header .nav_link {
  color: #ddd;
  display: inline-block;
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  transition-duration: .2s;
}

header .nav_link:hover {
  background-color: #661a0e;
  cursor: pointer;
}

/*header a::after{
  position: absolute;
  bottom: 1.0em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s;
}

header a:hover::after{
  width: 100%;
}*/

/* ==================================================
footer
====================================================*/
footer a:hover {
  text-decoration: underline;
}

footer .schoolInfo {
  padding: 60px 0;
  float: left;
}

footer .sitemap {
  padding: 60px 0;
  float: right;
}

footer .sitemap .parent-li {
  float: left;
  margin-right: 20px;
}

footer .child-ul {
  margin-left: 10px;
}

footer .child-li {
  font-size: 14px;
}

footer .header-li {
  font-weight: bold;
  font-size: 14px;
}


/* ==================================================
index.html
====================================================*/

.mainPic {
  padding-top: 70px;
}

.mainPic img {
  width: 100%;
}

#about {
  margin-top: 30px;
  /*background-color: #fff;*/
}

#about p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 100;
  color: #444;
}

#about .container {
}

#about {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#about .container {
  position: relative;
  width: 1050px;
  padding: 60px;
  z-index: 2;
}

#about .gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+69&0+0,1+69 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 69%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 69%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
}

#about .img {
  position: absolute;
  /*height: 600px;*/
  width: 70%;
  top: -20px;
  z-index: 0;
}

#abput .imgWrapper {
  width: 100%;
  position: relative;
}

#about img {
  width: 100%;
  min-width: 400px;
  position: absolute;
  right: 0;
}

#about .left {
  float: left;
  width: 50%;
}

#about .right {
  float: right;
  width: 50%;
  position: relative;
  z-index: 10;
}

#menuePerViwer {
  /*background-color: #f7f7f7;*/
}

#menuePerViwer .shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 270px;
  height: 212px;
  background-color: #fff;
}

#menuePerViwer a {
  color: #333;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  transition-duration: .15s;
}

.news {
  background-color: #fcfcfc;
}

.news .content li .tag {
  float: left;
}

.news .content li .detail {
  float: right;
}

/*.news .container {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: #fff;
  padding: 60px 0;
  width: 100%;
}*/

.news .content {
  width: 800px;
  margin: 0 auto;
}

.news .content li {
  padding: 0px 10px;
}

.news .content li a:hover {
}

.news .content li .tag {
  width: 150px;
}

.news .content li .detail {
  width: 620px;
}

.news .content li .tag,
.news .content li .detail {
  height: 55px;
  padding: 15px 0;
}

.news .content li .tag {
}

.news .content li .tag span.tag_content {
  background-color: #333;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  width: 96px;
  border-radius: 3px;
  display: inline-block;
  color: #f7f7f7;
}

#curse {
  position: relative;
  background-color: #fff;
  z-index: 0;
  /*下二つコメントインで背景全体がグレーに*/
}


#curse a:hover img {
  transform: scale(1.05, 1.05);
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse a:hover .overRay {
  background-color: #fff;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse a:hover .inner {
  border: 1px solid #b81a35;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse a:hover .text {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 113px;
  /*background-color: #fff;*/
  background-color: #dfdfdf;
  z-index: -2;
}


#access {
  background-color: #fff;
}

#access .accessInfo {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

#access .map {
  float: right;
  width: 500px;
}

#access .accessInfo p {
  line-height: 1.8;
}

#access .address {
  margin-top: 30px;
}

#access table:first-child {
  margin-right: 30px;
}

#access tr {
  border-bottom: 1px solid #ccc;
}

#access th,
#access td {
  padding: 15px 0;
}

#access th {
  padding-right: 20px;
  font-size: 16px;
}
